* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: white;
}

body {
    font-family: sans-serif;
    background: #2f2f2f;
}

i,
svg {
    pointer-events: none;
}

.clap-pad,
.kick-pad,
.snare-pad,
.tom-pad,
.hihat-pad,
.cowbell-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
    cursor: pointer;
}

.clap-pad {
    background: rgb(255, 33, 33);
}

.clap-pad.active {
    background: rgb(148, 4, 4);
}

.kick-pad {
    background: rgb(14, 153, 14);
}

.kick-pad.active {
    background: rgb(0, 92, 0);
}

.snare-pad {
    background: rgb(172, 90, 250);
}

.snare-pad.active {
    background: rgb(99, 26, 168);
}

.tom-pad {
    background: rgb(253, 153, 31);
}

.tom-pad.active {
    background: rgb(180, 101, 4);
}

.hihat-pad {
    background: rgb(238, 255, 0);
}
.hihat-pad.active {
    background: rgb(136, 146, 1);
}

.cowbell-pad {
    background: rgb(255, 165, 180);
}

.cowbell-pad.active {
    background: rgb(177, 82, 98);
}

.sequencer {
    display: flex;
    min-height: 99vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clap-track,
.kick-track,
.snare-track,
.tom-track,
.hihat-track,
.cowbell-track {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
    margin-top: auto;
}

.clap,
.kick,
.snare,
.tom,
.hihat,
.cowbell {
    display: flex;
}

.controls button {
    padding: 1rem;
    border: none;
    background: rgb(122, 122, 122);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 1rem;
}

.controls select {
    background: rgb(93, 93, 93);
    color: white;
    border: none;
    padding: 0.5rem 0.3rem;
}

.controls {
    display: grid;
    grid-template-columns: 30% 10% 20% 10% 30%;
    margin: 3rem 2rem;
    width: 100%;
    align-items: center;
}

.controls button {
    grid-column: 3/4;
}

.controls h1 {
    grid-column: 1/2;
    font-size: 1.2vw;
}

.controls select {
    grid-column: 5/6;
    font-size: 0.6vw;
}

.pad {
    transition: all 0.5s ease;
}

.play {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background: rgb(122, 122, 122);
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 2rem;
    border-radius: 1rem;
}

.mute.active {
    background: rgb(70, 70, 70);
}

.tempo {
    width: 30%;
}

.tempo-slider {
    -webkit-appearance: none;
    padding: 0.2rem;
    width: 100%;
    position: relative;
    cursor: pointer;
    background: rgb(122, 122, 122);
    border-radius: 1rem;
}

.tempo-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    margin-bottom: auto;
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background: white;
    cursor: pointer;
}

.tempo p {
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.play-and-tempo {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@keyframes playTrack {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}
